section.video-box-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-1/index.pug
			.col-lg-9
				.row
					.col-12
						.title
							h2.h2 Video Clip
				.grid-container
					.grid-item.item-1
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_1.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-2 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-3
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-4 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-5 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-6 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-7 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-8 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
					.grid-item.item-9 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/video/v_2.png", alt="")
								figcaption
									img.img-fluid(src="./img/sadeco/video/v_3.png", alt="")
				include ../../pagination/p-1/index.pug
