.canhcam-index-tabs-5
	.row
		-for(i=1;i<10;i++)
			.col-md-4
				a.item(href="javascript:void(0)")
					figure
						.box
							img(src="./img/sadeco/daututaichinh/d_1.png", alt="")
						figcaption
							h3 Vượt thăng trầm, bất động sản vẫn “hút” vốn ngoại
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam provident ullam optio explicabo fugit ab officiis possimus sint, iste quo?
	include ../../pagination/p-1/index.pug
