section.canhcam-duanct2-d-2
	h2 Tổng quan
	article(bg-img="../img/sadeco/background/duan_ct2.png")
		.container
			.row.justify-content-end
				.col-lg-6.content
					h3 Dự án Long hậu
					p Với vị trí thuận lợi nằm trong khu công nghiệp và liền kề khu trung tâm cảng sầm uất và lớn nhất nước như Cảng container quốc tế SPCT, cảng Sài Gòn Hiệp Phước, Tân Cảng Hiệp Phước, Cảg quốc tế Long An…hứa hẹn phát triển một khu đô thị sầm uất trong tương lai gần.
					p Cư dân trong khu dân cư Long Hậu không chỉ có thể tận dụng tiên ích sẵn có trong  tổng thể dự án mà còn dễ dàng tiếpcận những công trình công cộng cao cấp từ Phú Mỹ Hưng như: 
					.row.no-guters
						-for(x=1;x<4;x++)
							.col-4
								-for(i=1;i<3;i++)
									ul
										li Lorem, ipsum dolor.
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt perferendis, autem blanditiis facere voluptatum repellat perspiciatis vero molestiae pariatur, molestias id. Accusantium maiores, numquam magnam voluptates, ipsa magni earum temporibus, labore consectetur officiis cupiditate. Veniam magni laborum ipsum nobis accusantium.
					p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt perferendis, autem blanditiis facere voluptatum repellat perspiciatis vero molestiae pariatur, molestias id. Accusantium maiores, numquam magnam voluptates, ipsa magni earum temporibus, labore consectetur officiis cupiditate. Veniam magni laborum ipsum nobis accusantium.

