.canhcam-header-2
	.container
		.menu-toggle.d-lg-none
			span.fas.fa-bars
		ul.nav.list-unstyled
			li.nav-item
				a.nav-link(href="gioithieu.html") Về Chúng tôi
			li.nav-item
				a.nav-link(href="daututaichinh.html") Hoạt động kinh doanh
			li.nav-item.active
				a.nav-link(href="tintuc.html") Truyền thông
			li.nav-item
				a.nav-link(href="phattrienbenvung.html") Phát triển bền vững
			li.nav-item
				a.nav-link(href="tuyendung.html") Tuyển dụng
			li.nav-item
				a.nav-link(href="thuvien.html") Thư viện
			li.nav-item
				a.nav-link(href="lienhe.html") Liên hệ
		#search-mobile
