section.canhcam-quanhedautu-q-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-1/index.pug
			.col-lg-9
				article
					h2 Giới thiệu các công ty cổ đông lớn
					p Chiến lược xác định mô hình quy mô phát triển công ty trong 10 năm tới là công ty cổ phần có cơ cấu cổ đông hợp lý, có trình độ quản trị đáp ứng những thông lệ tốt nhất của công ty niêm yết. Trong tương lai theo định hướng sắp xếp doanh nhiệp Nhà nước, nếu công ty mẹ (IPC) cổ phần hóa không nắm phần chiphối thì chúng ta cần chủ động xây dựng cơ cấu cổ tđông hợp lý, tranh thủ sự tham gia của IPC, các cổ đông sáng lập, chiến lược, gắn bó lâu dài và cùng nhau hợp tác cho sự phát triển lâu dài của công ty. Việc phát hành cổ phần mở rộng cho CBNV và cổ đông chiến lược nên theo các tiêu chí trên.
					p Công ty chọn lựa chiến lược tăng trưởng tập trung, phát triển sản phẩm, chiến lược này đặt trọng tâm vào việc cải tạo, nâng cao các chất lượng sản phẩm, mở mang và phát triển thị trường hiện có. Thực hiện chiến lược này chúng ta đề xuất những chiến lược cụ thể và giải pháp cho từng lĩnh vực. Để đối phó với tìnhhình, trong hai năm đầu cần tập trung cho các giải pháp: tái cơ cấu lại công ty cả về tổ chức, đầu tư, tài chính, … và quản trị hạn chế thấp nhất các rủi ro. Trong khi nguồn vốn công ty còn hạn chế, nhiều dự án dở dang, giá bồi thường lại cao, các sản phẩm công ty cũng khó bán và bán không được giá như trước đây, việc tính toán đầu tư cái gì bán cái gì, ở thời điểm nào có lợi nhất là bài toán cực kỳ khó, dễ dẫn đến “sai một ly đi  một dặm”.
					//- Doan 2
					section.block
					h2 vốn điều lệ, năng lực tài chính
					ul
						li Vốn điều lệ: 41,2 tỷ đồng 
						li Vốn điều lệ: 41,2 tỷ đồng 
						li Vốn điều lệ: 41,2 tỷ đồng 
					figure
						img(src="./img/sadeco/quanhedautu/q_1.png", alt="")
