section.canhcam-carousel-1
	.row
		.col
			article.owl-carousel.owl-theme.list-items
				-for(i=1;i<6;i++)
					.item
						a(href='#')
							figure
								img(src='./img/sadeco/cocautochuc/c_2.png', alt='')
								figcaption
									h4 Ông <strong> TỀ TRÍ DŨNG</strong>
									p Tổng giám đốc
