
section.canhcam-intro-slider-5(bg-img="./img/parisbeautyspa/background/intro_3.png")
	.container
		h2 TRẢI nghiệm người nổi tiếng
		.list-thumb
			-for(i=1;i<4;i++)
				a.item(href="https://www.youtube.com/watch?v=3oU4fGSMGcI&t=0s&list=PLsd7C5Bpj3ZHCYMQgtW9AOh-nWuFuo1Ao&index=1", data-poster="./img/sadeco/duan_ct2/d_3.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
					.img
						img(src="./img/sadeco/duan_ct2/d_3.png", alt="alt")
					h3 Phòng tập gym
