section.canhcam-br
	article.owl-carousel.owl-theme.list-items
		.item
			img(src="./img/bg/sub-2.jpg", alt="")
	.main-breadcrumb
		.container
			.title
				h2 Data
			ol.breadcrumb
				li.breadcrumb-item
					a(href='#') Home
				li.breadcrumb-item
					a(href='#') Library
				li.breadcrumb-item.active(aria-current='page') Data
