section.contact-box-1
	.container.mb-5
		.row
			.col-12.item
				.title.mb-4
					h2.h2.mb-4 Liên hệ
		.row
			.col-lg-4.item
				.box-content.mb-4.mb-lg-0
					h3.h3 SADECO
					h4.h4 Trụ sở chính:
					p 
						b Địa chỉ: 
						| 489 Nguyễn Văn Linh, Phường Tân Phong, Quận 7, Tp Hồ Chí Minh
					p 
						b Điện thoại: 
						| (84.28) 5431 4216
					p 
						b Fax: 
						| (84.28) 5431 4215
			.col-lg-8.item
				p Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho SADECO, chúng tôi sẽ phản hồi email của Quý khách trong thời gian sớm nhất.
				form.form-wrap
					.row
						.col-md-6.mb-4
							input(type="text" placeholder="Họ và tên...").form-control
						.col-md-6.mb-4
							input(type="text" placeholder="Email...").form-control
						.col-md-6.mb-4
							input(type="text" placeholder="Tiêu đề...").form-control
						.col-md-6.mb-4
							input(type="text" placeholder="Số điện thoại...").form-control
						.col-12.mb-4
							textarea.form-control(rows="9" placeholder="Nội dung...")
						.col-12
							.form-bottom
								input(type="text").form-control
								button.btn.btn-light.btn-more Gửi
	.map
		iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.185072804998!2d106.7024735148367!3d10.797133061763448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b6d8f34625%3A0x12958ff51a1deac9!2zMTE0IE5ndXnhu4VuIEPhu611IFbDom4sIFBoxrDhu51uZyAxNywgQsOsbmggVGjhuqFuaCwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1538967366227" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen)
