section.canhcam-tuyendung-2
	.container
		h2 cơ hội nghề nghiệp
		table.table
			thead
				tr
					th.text-center.px-2 STT
					th Vị trí ứng tuyển
					th.text-center Số lượng ứng tuyển
					th.text-center Hạn nộp hồ sơ
			tbody
				//- row 1
				tr
					td.text-center 01
					td NHÂN VIÊN KINH DOANH 
					td.text-center 01
					td.text-center 21.01.2018
				//- row 2
				tr
					td.text-center 01
					td NHÂN VIÊN KINH DOANH 
					td.text-center 01
					td.text-center 21.01.2018
				//- row 3
				tr
					td.text-center 01
					td NHÂN VIÊN KINH DOANH 
					td.text-center 01
					td.text-center 21.01.2018
