.canhcam-nav-3
	ul.nav
		li.nav-item
			a.nav-link(href='javascript:void(0') Profile
		li.nav-item.active
			a.nav-link(href='javascript:void(0') Brochure
		li.nav-item
			a.nav-link(href='javascript:void(0') Hình ảnh
		li.nav-item
			a.nav-link(href='javascript:void(0') Tài liệu & Văn bản tham khảo
		li.nav-item
			a.nav-link(href='javascript:void(0') Ấn phẩm khác
