section.canhcam-duanct2-d-3
	.container
		.row
			.col-lg-10.mx-auto
				h2 Vị trí
		.row.no-gutters
			.col-md-4
				.content
					h3 Lorem ipsum dolor sit amet.
					p Lorem ipsum, dolor sit amet consectetur adipisicing 
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae porro rerum possimus animi voluptas aliquam quod. Reiciendis, deserunt voluptatum enim doloremque iure mollitia expedita minima eius? Vero laboriosam ullam sed totam ipsam asperiores numquam, laborum iste debitis, earum voluptates delectus!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, aspernatur!
			.col-md-8
				img(src="./img/sadeco/duan_ct2/d_1.jpg", alt="")
