section#down.canhcam-index-1(bg-img="./img/sadeco/background/index_1.png")
	.container
		.row
			.col-lg-10.mx-auto
				h2 CÔNG TY CỔ PHẦN PHÁT TRIỂN NAM SÀI GÒN
				h3 Không chỉ là ngôi nhà để ở mà còn là nơi tạo dựng thế hệ tương lai
				p Đầu năm 1993, quy hoạch tổng thể Khu đô thị mới Nam Thành phố HCM do Công ty SOM (Skidmore Owings and Merrill, Ltd.Co) thiết kế đã được Thủ Tướng Chính phủ chính thức phê duyệt. Cùng với việc triển khai Giấy phép xây dựng tuyến đường Bắc Nhà Bè - Nam Bình Chánh và Khu đô thị mới Nam Sài Gòn vào tháng 3/1993, UBND Thành phố chủ trương: thành lập một công ty cổ phần để sắp xếp lại dân cư, xây dựng các khu định cư mới, làm công tác giải tỏa 2.600ha, quản lý sử dụng và kêu gọi đầu tư, khai thác đất theo quy hoạch và chính sách của UBND Thành phố.
		.row
			-for(i=1;i<5;i++)
				.col-md-6.col-lg-3.item
					figure
						img(src="./img/sadeco/index/i_1.png", alt="", srcset="")
						figcaption
							h4 Giới thiệu chung
							p Ngày 21/06/1994 theo quyết định số 934/GP-UB của UBND Tp Hồ Chí Minh, công ty được chính thức thành lập
					a.btn-more(href="javascript:void(0)") Xem chi tiết
