section.canhcam-duan-d-1
	.container
		.row
			.col-lg-10.mx-auto
				h2 hoạt động kinh doanh
		.row
			-for(i=1;i<4;i++)
				.col-md-4
					a.item(href="javascript:void(0)")
						figure
							.box
								img(src="./img/sadeco/duan/d_1.png", alt="")
							figcaption
								h3 dự án
