section.canhcam-phattrienbenvung-p-1
	.container
		.row
			.col-lg-10.mx-auto
				.title
					h2 Thông điệp
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore id amet unde illo ullam laboriosam earum error perspiciatis voluptatem quo, rerum voluptatum ut numquam quisquam officia, vitae voluptas at.
		.row
			.col-md-6
				img(src="./img/sadeco/phattrienbenvung/p_1.png", alt="")
			.col-md-6
				-for(i=1;i<4;i++)
					p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam error eaque voluptatum consectetur odit illum in dolor distinctio eligendi autem inventore quas modi ab labore minima eos magni dolorem quia officia voluptatem, nobis vero aliquam. Ad officiis mollitia placeat voluptatum, dignissimos reiciendis quis? Mollitia, minus? Delectus eos suscipit accusantium quam.
		include ../../tabs/t-4/index.pug
