.canhcam-carousel-2
	.owl-carousel.owl-theme.list-items
		-for(i=1;i<6;i++)
			.item
				a(href='#')
					figure
						img(src="./img/sadeco/duan_ct2/d_4.png", alt="")
						figcaption
							.day
								p 24
								time 08/2018
							h3 Dự án Long Hậu Rivertside ra mắt thị trường
