section.canhcam-banner-1
	article.list-items
		.item(bg-img="./img/sadeco/banner/b_1.png")
			.title
				h1 Hoàn thiện những ước mơ về <br> công trình của bạn
			a(href="#down").go-down <span class="lnr lnr-chevron-down"></span>
		.item(bg-img="./img/sadeco/banner/b_1.png")
			.title
				h1 Hoàn thiện những ước mơ về <br> công trình của bạn
