section.thuvien-box-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-1/index.pug
			.col-lg-9
				.row
					.col-12
						.title
							h2.h2 Thu vien
				.grid-container
					.grid-item.item-1
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_1.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-2 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-3
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-4 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-5 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-6 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-7 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-8 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
					.grid-item.item-9 
						a.item(href="#")
							figure
								img.w-100(src="./img/sadeco/thuvien/t_2.png", alt="")
								figcaption
									h3 Lorem ipsum dolor sit amet consectetur adipisicing.
				include ../../pagination/p-1/index.pug
