section.canhcam-tuyendung-1
	.container
		h2 tuyển dụng
		.row
			.col-md-6
				figure
					img(src="./img/sadeco/tuyendung/t_1.png", alt="")
			.col-md-6
				.content
					p Hãy tìm kiếm cơ hội nghề nghiệp tại SADECO để khẳng định bản thân và giao lưu học hỏi tạo cho bản thân nền tảng kiến thức vững vàng trong môi trường làm việc chuyên nghiệp và uy tín
					p Trong định hướng phát triển nhân sự, SADECO tập trung xây dựng chính sách thu hút nhân tài thông qua chính sách lương, thưởng đặc biệt cạnh tranh kết hợp với các hoạt động đào tạo, bồi dưỡng nhằm giữ chân CBNV lâu dài, xây dựng phát triển đội ngũ quản lý kế thừa nhằm đáp ứng nhu cầu nhân sự cấp quản lý cho những năm tiếp theo cũng như thu hút nhân lực giỏi từ nhiều nguồn khác nhau về làm việc cho Công ty.
