section.canhcam-footer-1
	.top-footer(bg-img="./img/sadeco/background/footer.png")
		.container
			.row
				.col-lg-4
					.info
						h2 Liên hệ
						p Vui lòng liên hệ trực tiếp hoặc sử dụng form bên dưới để điền thông tin liên hệ và chúng tôi sẽ phản hồi lại trong thời gian sớm nhất có thể.
						h3 Trụ sở chính:
						p 
							span 1489 Nguyễn Văn Linh, Phường Tân Phong, Quận 7, Tp Hồ Chí MInh
							span Điện thoại: (84.28) 5431 4216
							span Fax: (84.28) 5431 4215
						a(href="mailto:namsaigon@sadeco.com.vn") namsaigon@sadeco.com.vn
				.col-lg-8.mt-5.mt-lg-0
					.wrap-contact
						.form-group
							input#name.form-control(type='text', placeholder='Họ tên *', data-error="Vui lòng nhập thông tin", required)
							.help-block.with-errors
						.form-group
							input#Email.form-control(type='text', placeholder='Email', data-error="Vui lòng nhập thông tin", pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", required)
							.help-block.with-errors
						.form-group
							input#Phone.form-control(type='text', placeholder='Phone', data-error="Vui lòng nhập thông tin", pattern="^[_A-z0-9]{1,}$", required)
							.help-block.with-errors
						.form-group
							input#Address.form-control(type='text', placeholder='Address')
						.form-group
							select#Brand.form-control
								option(value="Bộ phận liên hệ") Bộ phận liên hệ
								option(value=" demo") demo
						.form-group
							textarea#sms.form-control(name="sms", cols="30", rows="5")
							label.notice * Vui lòng điền đầy đủ thông tin với những trường có dấu *
						.form-group
							button.btn(type="button") GỬI THÔNG TIN
	.copyright
		.container
			.row.no-gutters
				.col-lg-auto
					.text
						p © 2018 Sadeco. All Right Reserved. Designed by Cánh Cam.
				.col-lg-auto
					.sitemap
						ul.list-unstyled.nav-bar
							li.nav-item
								a.nav-link(href="#") Điều khoản sử dụng
							li.nav-item
								a.nav-link(href="#") Chính sách bảo mật
							li.nav-item
								a.nav-link(href="#") Sitemap
				.col-lg-auto.ml-auto
					.social
						ul.list-unstyled.nav
							li.nav-item
								a.nav-link(href="#")
									span.fab.fa-twitter
							li.nav-item
								a.nav-link(href="#")
									span.fab.fa-facebook-f
							li.nav-item
								a.nav-link(href="#")
									span.fab.fa-youtube
							li.nav-item
								a.nav-link(href="#")
									span.fab.fa-google-plus-g
