section.canhcam-duanct2-d-1(bg-img="../img/sadeco/background/duan_ct2_1.png")
	.container
		.row
			.col-lg-10.mx-auto
				h2 Lí do chọn ?
		.row
			-for(i=1;i<5;i++)
				.col-md-6.col-lg-3
					a(href="javascript:void(0").item
						figure
							img(src="./img/sadeco/duan_ct2/d_1.png", alt="")
							figcaption
								p Công viên cây xanh được thiết kế nằm rải rác khắp khu dân cư, tạo nên một không gian xanh mát,không khí trong lành, mát mẻ
