section.canhcam-tintuc-t-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-1/index.pug
			.col-lg-9
				article
					h2 TRUYỀN THÔNG
					.row
						-for(i=1;i<4;i++)
							.col-12
								a(href="javascript:void(0").item
									figure
										img(src="./img/sadeco/tintuc/t_1.png", alt="")
										figcaption
											.day
												p 24
												time 08/2018
											h3 CÓ NÊN CHO PHÉP DOANH NGHIỆP ĐƯỢC ĐẦU TƯ CĂN HỘ MINI ?
											p Khu vực vùng ven TP HCM như quận 12, Bình Tân, Thủ Đức... thời gian qua đã xuất hiện nhiều dự án chung cư mini. Theo quảng cáo, căn hộ mini có diện tích hơn 20m2 nhưng thực chất chỉ 16m2 có thêm một gác lửng nhỏ. Gian bếp, khu vệ sinh, tủ đựng đồ... trong căn hộ này đều được thu nhỏ, bố trí quanh căn phòng chỉ đủ cho 1-2 hoặc 3 người (vợ chồng và con nhỏ) sinh sống. Theo thông tin từ một chủ sàn bất động sản, dự án chung cư mini này do cá nhân làm chủ đầu tư, bởi doanh nghiệp được quy định chỉ làm căn hộ từ 25m2 trở lên.
		include ../../pagination/p-1/index.pug
