section.canhcam-cocautochuc-c-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-1/index.pug
			.col-lg-9
				article
					h2 cơ cấu tổ chức
					figure
						img(src="./img/sadeco/cocautochuc/c_1.png", alt="")
				article
					h2 Ban lãnh đạo
					h3 Hội đồng quản trị
					include ../../carousel/c-1/index.pug
				article
					h3 Ban điều hành
					include ../../carousel/c-1/index.pug
				article
					h3 Ban kiểm soát
					include ../../carousel/c-1/index.pug
