.canhcam-index-tabs-4
	.container
		.row
			.col
				ul#ccTabs.nav.nav-tabs(role="tablist")
					li.nav-item
						a#cct-03-tab.nav-link.active(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true") Sắp triểnt khai
					li.nav-item
						a#cct-04-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false") Đang mở bán
				#ccTabsContent.tab-content
					#cct-03.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="cct-03-tab")
						.row
							-for(i=1;i<5;i++)
								.col-md-6.col-lg-4
									a(href="javascript:void(0").item
										figure
											img(src="./img/sadeco/tintuc/t_1.png", alt="")
											figcaption
												.day
													p 24
													time 08/2018
												h3 CÓ NÊN CHO PHÉP DOANH NGHIỆP ĐƯỢC ĐẦU TƯ CĂN HỘ MINI ?
