header.canhcam-header-1
	.container.d-flex.flex-wrap
		.logo
			a(href="index.html")
				img(src="./img/sadeco/logo.png")
		.mx-auto.phone.d-none.d-lg-flex
			h1 CÔNG TY CỔ PHẦN PHÁT TRIỂN NAM SÀI GÒN
			a(href="tel:0932142224") 
				span.mdi.mdi-phone 
				span 0932 14 22 24
				i.fab.fa-facebook-messenger
		.lang.d-none.d-lg-flex
			a(href="#")
				img(src="./img/icon/flag-2.png")
			a(href="#")
				img(src="./img/icon/flag-1.png")
		.search.d-none.d-lg-flex
			.form-group.mb-0
				input(type="text", name="search")
		.toggle-menu.d-lg-none
			span.mdi.mdi-menu
