extends _layout/layout.pug
block variables
	- var title = "cocautochuc"
	- var description = "Description for cocautochuc page"
	- var bodyclass = "cocautochuc"
	- var href = "/cocautochuc.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/cocautochuc/c-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
