extends _layout/layout.pug
block variables
	- var title = "daututaichinh"
	- var description = "Description for daututaichinh page"
	- var bodyclass = "daututaichinh"
	- var href = "/daututaichinh.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/header/h-2/index.pug
block body
	include ../lib/daututaichinh/d-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
