extends _layout/layout.pug
block variables
	- var title = "duan-ct"
	- var description = "Description for duan-ct page"
	- var bodyclass = "duan-ct"
	- var href = "/duan-ct.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/duan-ct/d-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
