extends _layout/layout.pug
block variables
	- var title = "gioithieu"
	- var description = "Description for gioithieu page"
	- var bodyclass = "gioithieu"
	- var href = "/gioithieu.html"
block header
	//- include ../lib/header/h-1/index.pug
block body
	//- include ../lib/gioithieu/g-1/index.pug
block footer
	//- include ../lib/footer/f-1/index.pug
