extends _layout/layout.pug
block variables
	- var title = "lienhe"
	- var description = "Description for lienhe page"
	- var bodyclass = "lienhe"
	- var href = "/lienhe.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
block body
	include ../lib/lienhe/l-1/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
