extends _layout/layout.pug
block variables
	- var title = "phattrienbenvung"
	- var description = "Description for phattrienbenvung page"
	- var bodyclass = "phattrienbenvung"
	- var href = "/phattrienbenvung.html"
block header
	//- include ../lib/header/h-1/index.pug
block body
	include ../lib/phattrienbenvung/p-1/index.pug
block footer
	//- include ../lib/footer/f-1/index.pug
