//- extends _layout/layout.pug
//- block variables
//- 	- var title = "quanhedautu"
//- 	- var description = "Description for quanhedautu page"
//- 	- var bodyclass = "quanhedautu"
//- 	- var href = "/quanhedautu.html"
//- block header
//- 	include ../lib/header/h-1/index.pug
//- block body
//- 	include ../lib/quanhedautu/q-1/index.pug
//- block footer
//- 	include ../lib/footer/f-1/index.pug
