extends _layout/layout.pug
block variables
	- var title = "thongdiep"
	- var description = "Description for thongdiep page"
	- var bodyclass = "thongdiep"
	- var href = "/thongdiep.html"
block header
	//- include ../lib/header/h-1/index.pug
block body
	//- include ../lib/thongdiep/t-1/index.pug
block footer
	//- include ../lib/footer/f-1/index.pug
