extends _layout/layout.pug
block variables
	- var title = "thuvien"
	- var description = "Description for thuvien page"
	- var bodyclass = "thuvien"
	- var href = "/thuvien.html"
block header
	include ../lib/header/h-1/index.pug
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/header/h-2/index.pug
block body
	include ../lib/thuvien/t-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
