//- extends _layout/layout.pug
//- block variables
//- 	- var title = "tintuc-ct"
//- 	- var description = "Description for tintuc-ct page"
//- 	- var bodyclass = "tintuc-ct"
//- 	- var href = "/tintuc-ct.html"
//- //- block header
//- //- 	include ../lib/header/h-1/index.pug
//- block body
//- 	//- include ../lib/tintuc-ct/t-1/index.pug
//- //- block footer
//- //- 	include ../lib/footer/f-1/index.pug
