extends _layout/layout.pug
block variables
	- var title = "tintuc"
	- var description = "Description for tintuc page"
	- var bodyclass = "tintuc"
	- var href = "/tintuc.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/tintuc/t-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
