section.canhcam-thongdiep-t-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-1/index.pug
			.col-lg-9
				article
					//- Doan 1
					h2 tầm nhìn - sứ mệnh
					figure
						img(src="./img/sadeco/thongdiep/t_1.png", alt="")
					h3 Tầm nhìn:
					ul
						-for(i=1;i<4;i++)
							li Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni vitae deserunt atque exercitationem sed perspiciatis ipsam voluptatum! Voluptatibus, distinctio fugiat?
					h3 Sứ mệnh:
					h4 Sứ mệnh chính trị
					p Xây dựng những khu tái định cư khang trang, tiện ích nhằm tạo nên một nơi an cư lâu dài cho các hộ dân trong khu vực giải tỏa đồng thời thực hiện mục tiêu giãn dân, giảm áp lực dân số cho khu vực nội thị. Tham gia chương trình xây dựng 11.000 căn hộ tái định cư tại khu độ thị Nam Sài Gòn của Ủy ban nhân dân thành phố.
					h3 Sứ mệnh:
					h4 Sứ mệnh chính trị
					p Xây dựng những khu tái định cư khang trang, tiện ích nhằm tạo nên một nơi an cư lâu dài cho các hộ dân trong khu vực giải tỏa đồng thời thực hiện mục tiêu giãn dân, giảm áp lực dân số cho khu vực nội thị. Tham gia chương trình xây dựng 11.000 căn hộ tái định cư tại khu độ thị Nam Sài Gòn của Ủy ban nhân dân thành phố.
					p Xây dựng những khu tái định cư khang trang, tiện ích nhằm tạo nên một nơi an cư lâu dài cho các hộ dân trong khu vực giải tỏa đồng thời thực hiện mục tiêu giãn dân, giảm áp lực dân số cho khu vực nội thị. Tham gia chương trình xây dựng 11.000 căn hộ tái định cư tại khu độ thị Nam Sài Gòn của Ủy ban nhân dân thành phố.
					//- Doan 2
					h2 giá trị cốt lõi
					h5 “ Khát vọng - Chính trực -  Chuyên nghiệp - Nhân văn ”
					figure
						img(src="./img/sadeco/thongdiep/t_2.png", alt="")
					//- Doan 3
					h2 chiến lược phát triển
					h3 Chiến lược phát triển quy mô thông qua tăng vốn điều lệ:
					p Nguồn vốn điều lệ hiện nay của công ty (100 tỷ đồng) là khá thấp so với các công ty đối thủ trên địa bàn. Nhằm tiếp tục duy trì lợi thế cạnh tranh, công ty cần tăng vốn điều lệ, nâng cao năng lực tài chính của công ty. Qua đó, Công ty sẽ chủ động hơn về nguồn lực trong đầu tư tại các dự án đang nắm giữ; chứng minh năng lực tài chính khi tham gia đầu tư tại các dự án mới và nâng tầm quy mô công ty là một trong những công ty bất động sản hàng đầu trên địa bàn khu Nam.
					p Nguồn vốn điều lệ hiện nay của công ty (100 tỷ đồng) là khá thấp so với các công ty đối thủ trên địa bàn. Nhằm tiếp tục duy trì lợi thế cạnh tranh, công ty cần tăng vốn điều lệ, nâng cao năng lực tài chính của công ty. Qua đó, Công ty sẽ chủ động hơn về nguồn lực trong đầu tư tại các dự án đang nắm giữ; chứng minh năng lực tài chính khi tham gia đầu tư tại các dự án mới và nâng tầm quy mô công ty là một trong những công ty bất động sản hàng đầu trên địa bàn khu Nam.
					h3 Chiến lược phát triển quy mô thông qua tăng vốn điều lệ:
					p Nguồn vốn điều lệ hiện nay của công ty (100 tỷ đồng) là khá thấp so với các công ty đối thủ trên địa bàn. Nhằm tiếp tục duy trì lợi thế cạnh tranh, công ty cần tăng vốn điều lệ, nâng cao năng lực tài chính của công ty. Qua đó, Công ty sẽ chủ động hơn về nguồn lực trong đầu tư tại các dự án đang nắm giữ; chứng minh năng lực tài chính khi tham gia đầu tư tại các dự án mới và nâng tầm quy mô công ty là một trong những công ty bất động sản hàng đầu trên địa bàn khu Nam.
					//- Doan 4
					h2 ý nghĩa và hướng dẫn sử dụng ndth
					h3 Chiến lược phát triển quy mô thông qua tăng vốn điều lệ:
					p Nguồn vốn điều lệ hiện nay của công ty (100 tỷ đồng) là khá thấp so với các công ty đối thủ trên địa bàn. Nhằm tiếp tục duy trì lợi thế cạnh tranh, công ty cần tăng vốn điều lệ, nâng cao năng lực tài chính của công ty. Qua đó, Công ty sẽ chủ động hơn về nguồn lực trong đầu tư tại các dự án đang nắm giữ; chứng minh năng lực tài chính khi tham gia đầu tư tại các dự án mới và nâng tầm quy mô công ty là một trong những công ty bất động sản hàng đầu trên địa bàn khu Nam.
					h3 Chiến lược phát triển quy mô thông qua tăng vốn điều lệ:
					p Nguồn vốn điều lệ hiện nay của công ty (100 tỷ đồng) là khá thấp so với các công ty đối thủ trên địa bàn. Nhằm tiếp tục duy trì lợi thế cạnh tranh, công ty cần tăng vốn điều lệ, nâng cao năng lực tài chính của công ty. Qua đó, Công ty sẽ chủ động hơn về nguồn lực trong đầu tư tại các dự án đang nắm giữ; chứng minh năng lực tài chính khi tham gia đầu tư tại các dự án mới và nâng tầm quy mô công ty là một trong những công ty bất động sản hàng đầu trên địa bàn khu Nam.
					h3 Chiến lược phát triển quy mô thông qua tăng vốn điều lệ:
					ul
						-for(i=1;i<3;i++)
							li "ĐỊA" màu nâu đất: màu nâu là màu duy nhất trong bảng màu mang tính tao nhã của thiên nhiên, mang lại cảm giác hòa bình và thoải mái. Màu nâu là màu đặt trưng của đất, biểu tượng cho sự trù 
					figure
						img(src="./img/sadeco/thongdiep/t_2.png", alt="")
					//- Doan 5
					h2 quy tắc ứng xử
					.row
						.col-3
							figure
								img(src="./img/sadeco/thongdiep/t_2.png", alt="")
						.col-9
							p Mỗi một doanh nghiệp đều có một nét văn hoá riêng. Tại Sadeco, HĐQT và Ban Điều hành có trách nhiệm chăm lo cho nhân viên. Từng nhân viên có trách nhiệm chăm lo cho khách hàng thể hiện qua sản phẩm và dịch vụ khách hàng. Sadeco là một đội ngũ chuyên nghiệp có tính nhất quán cao. Mọi ứng xử đều phải theo quy tắc ứng xử. Mọi người đều có quyền tự do của mình nhưng không được làm ảnh hưởng đến người khác.  
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste est corrupti alias assumenda incidunt accusamus distinctio molestiae, porro quidem placeat?
