section.canhcam-gioithieu-1
	.container
		.row
			.col-lg-3
				include ../../nav/n-1/index.pug
			.col-lg-9
				.container
					article.intro-1
						h2 giới thiệu
						.row
							.col-lg-5
								figure
									.box
										img(src="./img/sadeco/gioithieu/g_1.png", alt="")
							.col-lg-7
								h3 SADECO
								p Với mục tiêu mở rộng TP.HCM, giải tỏa ách tắc trong giao thông và chỉnh trang khu vực trung tâm nội thành, các chuyên gia trong và ngoài nước đã thực hiện nghiên cứu, khảo sát và đề xuất phát triển một khu đô thị mới hướng về phía Nam TP.HCM, tiến ra biển đông theo xu hướng phát triển đô thị của các quốc gia trên thế giới.
								a.btn-more(href="javascript:void(0") Xem them
						include ../../gioithieu/g-2/index.pug
