.canhcam-nav-1
	ul.nav
		li.nav-item.active
			a.nav-link(href='javascript:void(0') Giới thiệu chung
		li.nav-item
			a.nav-link(href='javascript:void(0') Thông điệp
		li.nav-item
			a.nav-link(href='javascript:void(0') Cơ cấu tổ chức
		li.nav-item
			a.nav-link(href='javascript:void(0') Quan hệ đầu tư - Năng lực tài chính
