section.canhcam-tinctuc-ct-t-1
	article.news-details
		.container
			.row
				.col-lg-9
					.news-read
						h1 SADECO đang sở hữu tnhững dự án "hái ra tiền" nào?
						time <i class="fas fa-calendar-alt"></i> 01/06/2018
						.card
							.card-body Công ty Cổ Phần Phát Triển Nam Sài Gòn (SADECO) ngày càng phát triển với những quỹ đất “thẳng cánh cò bay” tại những vị trí đắc địa, điều này mang lại lợi nhuận cực lớn cho đơn vị này.
							-for(i=0;i<4;i++)
								section.block
									a.item-news-read(href="javascript:void(0)")
									figure
										img(src="./img/sadeco/tintuc_ct/n_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
									h3  Dự án khu dân cư An Phú Tây
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iure eligendi dignissimos dolores eos in suscipit non vitae ab molestiae voluptatibus saepe doloremque error ipsa, quas voluptatem quasi, excepturi blanditiis.
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iure eligendi dignissimos dolores eos in suscipit no
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iure eligendi dignissimos dolores eos in suscipit non vitae ab molestiae voluptatibus saepe doloremque error ipsa, quas voluptatem quasi, excepturi blanditiis.
									p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iure eligendi dignissimos dolores eos in suscipit non vitae ab molestiae voluptatibus saepe doloremque error ipsa, quas voluptatem quasi, excepturi blanditiis.
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")

				.col-lg-3
					.othernews(data-fix="50", data-fix-type="initial", data-fix-change="sticky")
						h2 Dịch vụ khác
						.lists
							-for(i=1;i<5;i++)
								figure
									img(src="./img/sadeco/tintuc_ct/n_2.png" alt="alt")
									figcaption
										h3 Nhộn nhịp giao dịch nhà đất tại các tỉnh vùng ven thành phố Hồ Chí Minh
