article.intro-2(bg-img="../img/sadeco/background/gioithieu_1.png")
	.container
		h2 Lịch sử
		p Công ty Cổ phần Phát triển Nam Sài Gòn <strong>(SADECO)</strong> được thành lập theo Quyết định số 934/GP-UB ngày 21/6/1994 của UBND Tp.HCM
		strong Mục tiêu
		ul
			li Tổ chức sắp xếp lại khu dân cư
			li Xây dựng các khu định cư mới
			li Làm công tác bồi thường giải phóng 2.600ha
			li Quản lý sử dụng và kêu gọi đầu tư
			li Khai thác đất theo quy hoạch và chính sách của UBND thành phố.
		.wrap
			.slide-2.slide.nav.text-center.d-none.d-lg-flex
				.item
					h4 2003
				.item
					h4 2004
				.item
					h4 2005
				.item
					h4 2006
				.item
					h4 2007
			.slide-3.slide
				-for(i=1;i<7;i++)
					.row
						.col-6.mx-auto
							a.item(href="javascript:void(0)")
								figure
									img(src="./img/sadeco/gioithieu/g_2.png", alt="")
									figcaption
										p Vốn cổ phần của công ty khi thành lập là 41,2 tỷ đồng, đến năm 2007 tăng lên 100 tỷ đồng.
